./numpy-2.0.2-cp313-cp313-manylinux_2_17_x86_64.whl
whisperx==3.7.0
requests==2.32.3
yt-dlp==2024.12.23
torch==2.6.0
torchaudio==2.6.0
lightning-fabric==2.2.2
pytorch-lightning==2.2.2
audioop-lts
gradio>=5.9.0
